{% extends "base.html" %}
{% block body %}
    <div class="mdc-layout-grid">
        <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-3-phone"
             style="margin: 0 auto;">
            <form method="POST" action="{{ url("login") }}">
                <section class="mdc-card__primary mdc-theme--primary-bg">
                    <h1 class="mdc-card__title mdc-card__title--large mdc-theme--text-primary-on-primary">Log in</h1>
                </section>
                <section class="mdc-card__supporting-text" style="padding-top: 1em;">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="next" value="{{ next }}"/>
                    {% for hidden in form.hidden_fields() %}
                        {{ hidden }}
                    {% endfor %}

                    {% for error in form.non_field_errors() %}
                        <span class="field-error">{{ error }}</span>
                    {% endfor %}

                    {% for field in form.visible_fields() %}
                        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                            {{ field }}
                            <label class="mdc-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% for error in field.errors %}
                            <span class="field-error">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </section>
                <section class="mdc-card__actions">
                    <input class="mdc-button mdc-button--compact mdc-button--accent mdc-card__action"
                           data-mdc-auto-init="MDCRipple" type="submit" value="Log in"/>
                </section>
            </form>
        </div>
    </div>
{% endblock %}